<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>399010243351-98n1oqebggi3odbq3q8839m1lnbb27u9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.399010243351-98n1oqebggi3odbq3q8839m1lnbb27u9</string>
	<key>API_KEY</key>
	<string>AIzaSyBlgqV7k5osALwkV5-xyuOcN4TVUxqWe48</string>
	<key>GCM_SENDER_ID</key>
	<string>399010243351</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>evenement-ee6d6</string>
	<key>STORAGE_BUCKET</key>
	<string>evenement-ee6d6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:399010243351:ios:443a8d2e10b855cd9e0d52</string>
	<key>DATABASE_URL</key>
	<string>https://evenement-ee6d6.firebaseio.com</string>
</dict>
</plist>